<!DOCTYPE html>
<html>
<head>
    <title>{{ sitio_titulo }}</title>
</head>
<body>
    <h1>Bienvenido a {{ sitio_nombre }}</h1>
    <p>Desplegado por Ansible el {{ ansible_date_time.date }}.</p>
</body>
</html>