services:
  # 1. Recolecta metricas de tu sistema
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    command: 
      - '--path.rootfs=/host'
    volumes:
      - '/:/host:ro'
    restart: unless-stopped
  
  # 2. Almacena las metricas
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped

  # 3. Maestra graficos bonitos
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    volumes:
     - grafana-storage:/var/lib/grafana
    restart: unless-stopped

volumes:
  grafana-storage: