prometheus:
    service:
        type: NodePort
        nodePort: 30090
grafana:
    adminPassword: admin123
    service:
        type: NodePort
        nodePort: 30091
alertmanager:
    service:
        type: NodePort
        nodePort: 30094